/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Chess implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * chess.css
 *
 * Chess stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (chess_chess.tpl), and to HTML elements you create dynamically
    (in chess.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/
@import url(../../../css/csslayer.css);

/********* You can start writing your CSS below this line: **********/

#board {
    width: 598px;
    height: 598px;
    background-image: url('img/board.png');
    position: relative;
}

.square {
    width: 64px;
    height: 64px;
    position: absolute;
    /* background-color: red; */
}

.piece {
    width: 64px;
    height: 64px;
    background-image: url('img/pieces.png');
    position: absolute; 
}

.piece_white_rook { background-position: 0px 0px; }
.piece_white_knight { background-position: -64px 0px; }
.piece_white_bishop { background-position: -128px 0px; }
.piece_white_king { background-position: -192px 0px; }
.piece_white_queen { background-position: -256px 0px; }
.piece_white_pawn { background-position: -320px 0px; }
.piece_black_rook { background-position: 0px -64px; }
.piece_black_knight { background-position: -64px -64px; }
.piece_black_bishop { background-position: -128px -64px; }
.piece_black_queen { background-position: -192px -64px; }
.piece_black_king { background-position: -256px -64px; }
.piece_black_pawn { background-position: -320px -64px; }

.active_piece {
    background-color: red;
    opacity: 0.4; 
    filter:alpha(opacity=40);  /* IE 8 */
}

.valid_move {
    background-color: green;
    opacity: 0.4; 
    filter:alpha(opacity=40);  /* IE 8 */
    cursor: pointer;
}

